
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GUI Email sender</title>
</head>
<body>

    <form method="POST" action= "{{url('send')}}" enctype="multipart/form-data">
        <label>Recipient ?</label>
        <input type="text" name="Recipient"><br>
        <label>Subject ?</label>
        <input type="text" name="Subject"><br>
        <label>Body ?</label>
        <input type="text" name="Body"><br>
        
        <button type="submit">Submit</button>
    </form>



    {%block response%}
    <p> response : {{response}}</p>
    {%endblock%}


</body>
</html>
